{%- assign url_parts = page.url | split: '/' -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
<div class="trigger">
  <ul class="nav-list'>
    {%- assign url_parts = page.url | split: '/' -%}
    {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- if my_page.title -%}
        <li {%- if url_parts[1] == path -%}class="active" {%- endif -%}>
          <a class="page-link" href="{{ my_page.url | prepend:site.baseurl }}">{{ my_page.title | escape }}</a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
